.catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -6px;
    background-color: #f3f4f5;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}