body {
    margin: 0px 100px;
    font-style: italic;
}

.title {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: black;
    margin-bottom: 40px;
}

@media (max-width:1160px) {
    body {
        font-size: 12px;
    }
}

@media(min-width:425px) and (max-width:767px) {
    body {
        margin: 0px 10px;
    }
}

@media(min-width:320px) and (max-width:424px) {
    body {
        margin: 0px 5px;
    }
}